In [5]:
import ibm_db

In [6]:
dsn_driver = "{IBM DB2 ODBC DRIVER}"
dsn_database = "***"            # e.g. "BLUDB"
dsn_hostname = "*****"            # e.g.: "dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net"
dsn_port = "50000"                    # e.g. "50000" 
dsn_protocol = "TCPIP"            # i.e. "TCPIP"
dsn_uid = "*******"                 # e.g. "abc12345"
dsn_pwd = "******"                 # e.g. "7dBZ3wWt9XN6$o0J"

In [7]:
dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd)

try:
    conn = ibm_db.connect(dsn, "", "")
    print ("Connected to database: ", dsn_database, "as user: ", dsn_uid, "on host: ", dsn_hostname)

except:
    print ("Unable to connect: ", ibm_db.conn_errormsg() )

Connected to database:  BLUDB as user:  jnj40704 on host:  dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net

In [11]:
dropQuery = "drop table INSTRUCTOR"

dropStmt = ibm_db.exec_immediate(conn, dropQuery)

 SQLCODE=-204

In [17]:
creat="create table INSTRUCTOR (ID INTEGER PRIMARY KEY NOT NULL, FNAME VARCHAR(20),LNAME VARCHAR(20), CITY VARCHAR(20),CCODE CHARACTER(2)) "
crestSmt=ibm_db.exec_immediate(conn,creat)

 SQLCODE=-601

In [21]:
insert="insert into INSTRUCTOR values (2,'Raul','Chong','Markham','CA'),(3,'Hima','Vashudevan','Chicago','US')"
insertQuery=ibm_db.exec_immediate(conn,insert)

In [25]:
selectQuery= "select* from INSTRUCTOR"
selectSmt= ibm_db.exec_immediate(conn,selectQuery)
ibm_db.fetch_both(selectSmt)

{'ID': 1,
 0: 1,
 'FNAME': 'Rav',
 1: 'Rav',
 'LNAME': 'Ahuja',
 2: 'Ahuja',
 'CITY': 'Toronto',
 3: 'Toronto',
 'CCODE': 'CA',
 4: 'CA'}

In [24]:
selectQuery = "select * from INSTRUCTOR"

#Execute the statement
selectStmt = ibm_db.exec_immediate(conn, selectQuery)

#Fetch the Dictionary (for the first row only)
ibm_db.fetch_both(selectStmt)

{'ID': 1,
 0: 1,
 'FNAME': 'Rav',
 1: 'Rav',
 'LNAME': 'Ahuja',
 2: 'Ahuja',
 'CITY': 'Toronto',
 3: 'Toronto',
 'CCODE': 'CA',
 4: 'CA'}

In [26]:
while ibm_db.fetch_row(selectStmt) != False:
    print (" ID:",  ibm_db.result(selectStmt, 0), " FNAME:",  ibm_db.result(selectStmt, "FNAME"))

 ID: 2  FNAME: Raul
 ID: 3  FNAME: Hima

In [28]:
updateQuery="update INSTRUCTOR  Set  CITY='MOOSETOWN' where FNAME='Rav'"
updateStmt=ibm_db.exec_immediate(conn,updateQuery)

In [30]:
selectQuery="select * from INSTRUCTOR"
selectStmt=ibm_db.exec_immediate(conn,selectQuery)
ibm_db.fetch_both(selectStmt)

{'ID': 1,
 0: 1,
 'FNAME': 'Rav',
 1: 'Rav',
 'LNAME': 'Ahuja',
 2: 'Ahuja',
 'CITY': 'MOOSETOWN',
 3: 'MOOSETOWN',
 'CCODE': 'CA',
 4: 'CA'}

In [48]:
import pandas 
import ibm_db_dbi

In [49]:
pcc=ibm_db_dbi.Connection(conn)

In [50]:
selctQuery="select * from INSTRUCTOR"
pdf=pandas.read_sql(selectQuery,pcc)

In [52]:
pdf.LNAME[0]

'Ahuja'

In [53]:
pdf

   ID FNAME       LNAME       CITY CCODE
0   1   Rav       Ahuja  MOOSETOWN    CA
1   2  Raul       Chong    Markham    CA
2   3  Hima  Vashudevan    Chicago    US

In [55]:
pdf.shape

(3, 5)

In [56]:
ibm_db.close(conn)

True